/* Para estilos generales */
*{
    margin:0;
    padding:0;
}

/* Para estilos generales */
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 216px;
}

main{
    display: flex;
    width: 90%; 
    margin: 1% 5% 0% 5%;
}

/* Para estilos generales */

footer{
    display: flex;
    background-color: goldenrod;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    height: 2em;   
    font-weight: bold; 
}


@media screen and (min-width: 500px){     
    
    main{        
        justify-content: space-evenly;       
    }
    
    #seccionPrincipal{
        display: flex;
        width: 50%;           
    }
    
    #imagenPrincipal{    
        max-width: 100%;
    }    

    #contenedorImagenes{
        display: flex;        
        width: 40%;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: wrap;    
    }

    .imagenSecundaria{  
        width: 49%;        
    }   
   
}

@media screen and (max-width: 500px){ 

    main{
        display: flex;        
        flex-direction: column;
        justify-content: space-between;
        width: 90%; 
        margin: 1% 5% 0% 5%;
    }
    
    #seccionPrincipal{
        display: flex;
        margin-top: 1%;
        margin-bottom: 1%;                                 
    }   
    
    #imagenPrincipal{    
        max-width: 100%;
    }

    #contenedorImagenes{
        display: flex;        
        height: 45%;
        align-content: space-between;
        justify-content: space-between;
        flex-wrap: wrap;    
    }

    .imagenSecundaria{  
        width: 49%; 
        margin-bottom: 1%;       
    }     
   
}