*{
    margin:0;
    padding:0;
}

main{
    display: flex;
    justify-content: space-evenly;
    width: 90%; 
    margin: 1% 5% 0% 5%;
}

#seccionPrincipal{
    display: flex;
    width: 50%;           
}

@media screen and (min-width: 460px){      
    
    #imagenPrincipal{    
        max-width: 100%;
    }

    #contenedorImagenes{
        display: flex;        
        width: 40%;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: wrap;    
    }

    .imagenSecundaria{  
        width: 49%;        
    }   
   
}