*{
    margin:0;
    padding: 0;
}

#seccionImagen{
    display: flex;
    justify-content: center;
    margin-top: 1%;
}



h1{
    display: flex;
    justify-content: center;
}

#seccionTabla{
    display: flex;
    justify-content: center;
}

table{
    border-collapse: collapse;
    border: 1px solid;
    font-size: 2em;
}

tr,th,td{
    border: 1px solid;    
}

th,td{
    text-align: center;
} 

@media (max-width: 850px) {
    table {font-size: 1.8em;}
}

@media (max-width: 750px) {
    table {font-size: 1.5em;}
}

@media (max-width: 650px) {
    table {font-size: 1.2em;}
}

@media (max-width: 650px) {
    table {font-size: 1em;}
}

